
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{
    --clr-purple-100: hsl(254, 88%, 90%);
--clr-purple-500: hsl(256, 67%, 59%);

--clr-yellow-100: hsl(31, 66%, 93%);
--clr-yellow-500: hsl(39, 100%, 71%);

--clr-white: hsl(0, 0%, 100%);
--clr-black: hsl(0, 0%, 7%);

--ff-main: 
}

@layer reset{
    
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}

	* {
		padding: 0;
		margin: 0;
	}

	html {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
        block-size: 100%;
	}

	body {
		min-block-size: 100%;
	}

	img,
	iframe,
	audio,
	video,
	canvas {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	svg {
		max-inline-size: 100%;
	}

	svg:not([fill]) {
		fill: currentColor;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	textarea {
		resize: vertical;
	}

	fieldset,
	iframe {
		border: none;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	p {
		text-wrap: pretty;
		font-variant-numeric: proportional-nums;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-variant-numeric: lining-nums;
	}

	p,
    blockquote,
    q,
    figcaption,
    li {
        hanging-punctuation: first allow-end last;
    }

	input,
	label,
	button,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
        line-height: 1.1;
    }

	math,
	time,
	table {
		font-variant-numeric: tabular-nums lining-nums slashed-zero;
	}

	code {
		font-variant-numeric: slashed-zero;
	}

	table {
		border-collapse: collapse;
	}

	abbr {
		font-variant-caps: all-small-caps;
		text-decoration: none;

		&[title] {
			cursor: help;
			text-decoration: underline dotted;
		}
	}

	sup,
	sub {
		line-height: 0;
	}

	:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}

	:focus-visible {
		outline-offset: 0.2rem;
	}
}

@layer base-styles{

body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
	background-color: #F6F5F6;
}
   




}


@layer card-styles{

 .card{
        border-radius: 10px;
        color: var(--clr-black);
    }
	

.bento-grid > :nth-child(1){
    background-color: var(--clr-yellow-100);
    padding: 2rem;
    font-size: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -2px;

    span{
        color: var(--clr-purple-500);
        font-weight: 600;
        font-style: italic;
    }

   
}   

.bento-grid>:nth-child(2){
    background-color: var(--clr-purple-500);
    color: var(--clr-white);
    padding: 2rem;
    font-size: 3.875rem;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    

    span{
        color: var(--clr-yellow-500);
    }
    span:nth-of-type(2){
        font-style: italic;
        color: var(--clr-white);
    }

     
}   
.bento-grid .card:nth-child(3){
    background-color: var(--clr-purple-100);
    padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	overflow: hidden;
	gap: 1.5rem;

	p{
		font-size: 2rem;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: -1px;
	}

	p:nth-of-type(2){
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0;
	
	}

	
		img {
			max-width: none;
  			width: 22rem;
  			margin-left: 1rem;
	}
}   
.bento-grid .card:nth-child(4){
    background-color: var(--clr-yellow-500);
    padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4.5rem;
	font-size: 2.5rem;
	line-height: 36px;
	letter-spacing: 2px;
	font-weight: 500;

}   
.bento-grid .card:nth-child(5){
    background-color: var(--clr-white);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
gap: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1px;

  overflow: hidden; /* THIS is key */

  img{
	max-width: none;   /* overrides your global reset */
  width: 120%;      /* makes image larger than container */
  }
    
}   
.bento-grid .card:nth-child(6){
    background-color: var(--clr-yellow-500);
    padding: 1.5rem;
    padding-bottom: 0px;
	font-size: 2rem;
	line-height: 28px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow-y: hidden;

	img{
		position: relative;
	}

}   
.bento-grid .card:nth-child(7){
    background-color: var(--clr-white);
    padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: space-between;
	align-items: flex-start;

	p{
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: .5rem;
	}

	span{
		font-size: 3.5rem;
	}



}
	
		
	
   

.bento-grid > :nth-child(8){
    padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 2.5rem;
	background-color: var(--clr-purple-500);
	color: white;
	line-height: 36px;
	letter-spacing: -2px;
	gap: .5rem;
	font-weight: 500;
	img{
		width: 100%;
	}

    
}   

}


@layer grid-layout{

    .bento-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 14rem 5rem 15rem 16rem;
  gap: 1.5rem;
  max-width: 1120px;
  background-color: #F6F5F6;


  grid-template-areas:
    "card1 card2 card2 card3"
    "card1 card2 card2 card3"
    "card4 card5 card6 card3"
    "card4 card7 card8 card8";
}

.bento-grid > .card:nth-child(1) {
  grid-area: card1;
}

.bento-grid > .card:nth-child(2) {
  grid-area: card2;
}

.bento-grid > .card:nth-child(3) {
  grid-area: card3;
}

.bento-grid > .card:nth-child(4) {
  grid-area: card4;
}

.bento-grid > .card:nth-child(5) {
  grid-area: card5;
}

.bento-grid > .card:nth-child(6) {
  grid-area: card6;
}

.bento-grid > .card:nth-child(7) {
  grid-area: card7;
}

.bento-grid > .card:nth-child(8) {
  grid-area: card8;
}

}


.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    font-size: 1.125rem;
    max-width: 544px;
    font-weight: 400;

   p{
    margin: 0;
    padding: 0;
   }
}

.review-stars{
    width: 200px;
    margin: 0;
    padding: 0;
}


@media (max-width: 870px){
	.bento-grid{
	 grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "card2 card2"
      "card5 card6"
      "card3 card3"
      "card3 card3"
      "card8 card8"
      "card7 card7"
      "card1 card4";

	  padding: 3.25rem ;
  }
	
  .bento-grid > :nth-child(1) {

}

.bento-grid > :nth-child(2) {
	
	
	font-size: 3.375rem;
	line-height: 48px;
	letter-spacing: -2.16px;
	text-align: center;

	.review-container p{
		font-size: 1.125rem;
		letter-spacing: 0;
		line-height: 20px;
	}
	
}

.bento-grid .card:nth-child(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	p:nth-of-type(2){
		text-align: center;
		max-width: 359px;
	}
	
}

.bento-grid .card:nth-child(4) {

}

.bento-grid .card:nth-child(5) {
	justify-content: space-between;
}

.bento-grid .card:nth-child(6) {
	font-size: 1.75rem;
	line-height: 26px;
	letter-spacing: -1.68px;
}

.bento-grid .card:nth-child(7) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	img{
		max-width: 100%;
		width: 25%;
	}
	
}
 


}

 @media (max-width: 575px){
		.bento-grid{
	 grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "card2"
	  "card5"
	  "card6"
	  "card3"
	  "card8"
	  "card7"
	  "card1"
	  "card4";
	  

	  padding: 1.25rem ;
  }


  .bento-grid > :nth-child(1) {

}

.bento-grid > :nth-child(2) {
	font-size: 46px;
	line-height: 42px;
	letter-spacing: -1px;
	padding: 2rem 2.5rem;

}

.bento-grid .card:nth-child(3) {
	text-align: center;
	font-size: 1.625rem;
	color: black;
	line-height: 24px;
	letter-spacing: -1.56px;
	padding: 1.5rem;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	img{
		max-width: 100%;
	}

}

.bento-grid .card:nth-child(4) {

}

.bento-grid .card:nth-child(5) {
	font-size: 1.625rem;
	
}

.bento-grid .card:nth-child(6) {

}

.bento-grid .card:nth-child(7) {
	flex-direction: column;
	font-size: 1rem;
	align-items: flex-start;
	span{
		font-size:2.875rem;
		font-weight: 600;
		margin: 0;
		padding: 0;
		align-self: flex-start;
	}
	img{
		width: 50%;
	}
}

.bento-grid .card:nth-child(8) {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;
	padding: 1.5rem 2rem;


}



}


